<div class="posts">

  {%- assign items = site.projects | sort: 'order' -%}
    {%- for project in items limit:30 -%}
    {%- if project.tags contains "early work" -%}
    <div class="post-teaser toShow">
        {% if project.image %}
        {% assign image_url = project.image | replace: "_uploads", "uploads" -%}
        <div class="post-img">
            <a aria-label="{{ project.title }}" href="{{ project.url | relative_url }}">
              {%- if project.caption -%}
                <img alt="{{ project.caption }}" src="{{ image_url | relative_url }}">
              {%- else -%}
                <img alt="{{ project.title }}" src="{{ image_url | relative_url }}">
              {%- endif -%}

            </a>
        </div>
        {% endif %}
        <span>
          <header>
            <h2>
              <a aria-label="{{ project.title }}" class="post-link" href="{{ project.url | relative_url }}">
                {{ project.title }} &#10132;
              </a>
            </h2>
          </header>
          <div class="excerpt">
              {{ project.excerpt }}
          </div>
      </span>
    </div>
    {% endif %}
    {% endfor %}
</div>

<!-- {% include blog_nav.html %} -->
