<header class="site-header">

    <!-- Logo and title -->
	<div class="branding">
		<a href="{{ '/' | relative_url }}">
			<img alt="logo img" class="avatar" src="{{ site.avatar | relative_url }}" />
		</a>

		<h1 class="site-title">
			<a aria-label="{{ site.title }}" href="{{ '/' | relative_url }}">
        {{ site.title }}
      </a>
		</h1>
	</div>

    <!-- Toggle menu -->
    <nav class="clear">
    <a aria-label="pull" id="pull" class="toggle" href="#">
    <i class="fa fa-bars fa-lg"></i>
    </a>

    <!-- Menu -->
    <ul class="hide">
        {% assign name_page = "" %}
				{%- assign sorted_pages = site.pages | sort: "order" -%}
        {%- for node in sorted_pages -%}
            {% unless node.title == null or node.hide or name_page contains node.title %}
            <li class="separator"> | </li>
            <li>
                <a class="clear" aria-label="{{ node.title }}" title="{{ node.title }}" href="{{ node.url | relative_url }}">
                    {% if node.icon %} <i class="fa {{ node.icon }}" aria-hidden="true"></i>
                    {% else %} {{ node.title }} {% endif%}
                </a>
            </li>
            {% endunless %}
            {% assign name_page = node.title | append: name_page %}
        {% endfor %}
				<li class="separator"> | </li>
				<li><a title="see Digital Publishing Hub" target="_blank" class="clear" aria-label="Publisha" href="https://publisha.github.io">Publisha</a>
				</li>
				<li class="separator"> | </li>
				<li><a title="A perspectief on Cruising" target="_blank" class="clear" aria-label="Perspectief" href="https://www.chrisjennings/perspectief">My Boat</a>
				</li>
				<li class="separator"> | </li>
				<li><a title="Search this site" class="clear" aria-label="Publisha" href="/search/"><i class="fa fa-search" aria-hidden="true"></i></a>
				</li>
    </ul>

	</nav>
</header>
