<div class="posts">

  {%- assign items = site.photographs | sort: 'date' | reverse -%}
    {%- for art in items limit:100 -%}

  {%- if {{art.title}} == {{site.photographs.last.title}} -%}
  <div class="post-teaser firstone toShow">
  {%- else -%}
  <div class="post-teaser toShow">
  {%- endif -%}
        {% if art.image %}
        {% assign image_url = art.image | replace: "../uploads", "/uploads" -%}
        <div class="post-img">
            <a aria-label="{{ art.title }}" href="{{ art.url | relative_url }}">
              {%- if art.caption -%}
                <img alt="{{ art.caption }}" src="{{ image_url | relative_url }}">
              {%- else -%}
                <img alt="{{ art.title }}" src="{{ image_url | relative_url }}">
              {%- endif -%}

            </a>
        </div>
        {% endif %}
        <span>
          <header>
            <h1>
              <a aria-label="{{ art.title }}" class="post-link" href="{{ art.url | relative_url }}">
                {{ art.title }}
              </a>
            </h1>
          </header>
          {%- assign date = art.date -%}
<div class="post-info">
    <p class="meta">
      {{ date | date: "%B %-d, %Y" }}
    </p>
</div>
          <div class="excerpt">
              {{ art.excerpt }}
          </div>
      </span>
    </div>
    {% endfor %}

</div>

<!-- {% include blog_nav.html %} -->
