<div class="rounded-2xl">
  <div class="border border-slate-200 p-24 rounded-md bg-white shadow-md ">
    <h3 class="text-3xl font-bold text-gray-700 ">Get my latest posts delivered to your inbox</h3>

    <form action="https://hakanai.io/campaign/af0c7bf9-d55c-42dc-8c8c-e25f21866ef8/subscribe" method="get" class="flex mt-10 gap-4">
      <input name="email" autocomplete="email" type="email" placeholder="Your email" class="p-2 text-gray-700 w-full border border-slate-200" required>
      <button class="bg-pink-500 font-bold text-2xl text-white w-full border border-slate-300 px-4 hover:bg-pink-600 hover:text-white transition-colors duration-200 ease-in-out rounded-md">
        Subscribe
      </button>
    </form>
  </div>
</div>