---
layout: default
---

<article>
  <header id="artmain">
    <h1 id="{{ page.title | escape }}" class="title">{{ page.title }}</h1>
    {% if page.subtitle %}
    <h2 class="subtitle">{{ page.subtitle }}</h2>
    {% endif %}
  </header>
  <section class="post-content art"  id="everything">
    <p>
      <img src="{{ page.image }}" alt="{{ page.caption }}" />
    </p>
    {{ content | replace: "../uploads", "/uploads" }}
    {% include post_info.html post=page %}
  
  {% if page.forsale %}
  <section class="sale">
  <script src="https://www.paypal.com/sdk/js?client-id=BAARF0DaO2Ka9JaM6mtWB6_YkDdGM7S-e77RHiWW4FPY3eSac-4ca_74jm18MRqNiaW4TqPazdc3djzEsA&components=hosted-buttons&disable-funding=venmo&currency=GBP"></script>
  <div id="paypal-container-{{page.forsale}}"></div>
  <script>
    paypal.HostedButtons({
      hostedButtonId: "{{page.forsale}}",
    }).render("#paypal-container-{{page.forsale}}")
  </script>
  <div class="details"><p>The item will be packaged and shipped to any address in the UK. For any other destinations, or if you wish to collect from my studio (Oxford) then please contact me via email icon below.</p></div>
  </section>
{% endif %}
</section>
  {% if page.nft %}
  <section class="sale">
  <h3>NFT</h3>
      <p>This work is also available as an <a href="{{ page.nft }}" title="Buy this as an NFT" target="_blank">NFT</a> so you can invest in the digital copy.<br/>
      For further information about NFTs read this article at <a href="https://opensea.io/learn/how-to-buy-nft">Opensea</a></p>
  </section>
  {% endif %}
  </section>


  <!-- Social media shares -->
  {% include share_buttons.html %}
  {% if page.nft %}
  <button type="button" class="nft">
    <a href="{{ page.nft }}" title="Buy this as an NFT" target="_blank">NFT</a>
  </button>
  {% endif %}

   <!-- Flickr share -->
{% if page.flickr_share %}
  <p style="color:#869387;text-align:center;font-size:.8em"><i class="fa fa-flickr"><a href="{{page.flickr_share}}" title="Go to the Flickr site">Images are hosted on my Flickr site</a></i></p>
{% endif %}
  <!-- Tag list for portfolio -->
  {% capture tag_list %}{{ page.tags | join: "|"}}{% endcapture %} {% include
  tags_list.html tags=tag_list %}

</article>

<!-- Post navigation -->
{% if site.post_navigation %} {% include art_nav.html %} {% endif %}
