---
layout: default
---

<article>
  <header id="artmain">
      <h1 id="{{ page.title | escape }}" class="title">{{ page.title }}</h1>
    {%- if page.subtitle -%}
    <h2 class="subtitle">{{ page.subtitle }}</h2>
    {%- endif -%}

  </header>
  <section class="post-content photo">
  <p>
    <img src="{{ page.image }}" alt="{{ page.caption }}">
  </p>
  {% include post_info.html post=page %}
  <div class="main">
 {{ content | replace: "../uploads", "/uploads" }}

  </div>
  </section>
  <!-- Social media shares -->
  {% include share_buttons.html %}

  <!-- Flickr share -->
{% if page.flickr_share %}
  <p style="color:#869387;text-align:center;font-size:.8em"><i class="fa fa-flickr"><a href="{{page.flickr_share}}" title="Go to the Flickr site">Hosted on my Flickr site</a></i></p>
{% endif %}

  <!-- Tag list for portfolio -->
  {% capture tag_list %}{{ page.tags | join: "|"}}{% endcapture %}
  {% include tags_list.html tags=tag_list %}

</article>

<!-- Post navigation -->
{% if site.post_navigation %}
  {% include art_nav.html %}
{% endif %}
