---
layout: default
---

<article>
  <header id="artmain">
      <h1 id="{{ page.title | escape }}" class="title">{{ page.title }}</h1>
    {%- if page.subtitle -%}
    <h2 class="subtitle">{{ page.subtitle }}</h2>
    {%- endif -%}

  </header>
  <section class="post-content photo">
  <p>
    <img src="{{ page.image }}" alt="{{ page.caption }}">
  </p>
  {% include post_info.html post=page %}
  {%- assign page.flickr-album = page.flickr_album | replace: "flickr", "" -%}
        {% unless page.flickr_album == empty or page.flickr_album == null %}
      <!-- <p style="color:#869387;"><i class="fa fa-flickr"></i> Here is a gallery of these images kept on <a title="go to Flickr" href="https://www.flickr.com/photos/chrisjennings/albums/{{page.flickr_album}}">Flickr</a></p> -->

                <div class="gallerycontainer content">
                  <p class="info">Here is a gallery of images.</p>
                        <p class="info">Click each image here for an enlarged view.</p>
                <div id="gallery"></div>
                <script type="text/javascript" charset="utf-8">

                $(function() {
                  // create a gallery with custom options
                  var options = {
                    apiKey: '{{site.flickr_key}}',
                    flickrId: '{{site.flickr_id}}',
                    photosetId: '{{page.flickr_album}}',
                    captions: true,
                    small: 'medium',
                    large: 'original'
                  };

                  $('#gallery').fancyPhotoset(options);

                });
                </script>

                <p style="color:#869387;text-align:center;"><i class="fa fa-flickr"></i> <a href="https://www.flickr.com/photos/chrisjennings/albums/{{page.flickr_album}}">See this gallery on Flickr</a></p>
                </div>

                {% endunless %}

                {{ content | replace: "../uploads", "/uploads" }}
  </section>
  <!-- Social media shares -->
  {% include share_buttons.html %}

  <!-- Tag list for portfolio -->
  {% capture tag_list %}{{ page.tags | join: "|"}}{% endcapture %}
  {% include tags_list.html tags=tag_list %}

</article>

<!-- Post navigation -->
{% if site.post_navigation %}
  {% include art_nav.html %}
{% endif %}
