<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/subscribeform.css">
    {% include head.html %}

  <script
  src="https://challenges.cloudflare.com/turnstile/v0/api.js"
  async
  defer
  ></script>
      <script>
      function enableSubmit() {
        document.getElementById("submit-button").disabled = false;
      }
    </script>

<article {% if page.image %}class="feature-image"{% endif %}>
  <section class="post-content">
	{{ content | replace: "_uploads", "uploads" }}
  </section>
    {% include subscribe.html %}
    </article>
    <script>
document.getElementById('signupForm').addEventListener('submit', function(e) {
  if (document.getElementById('honeypot-field').value !== '') {
    e.preventDefault(); // Stop the form from submitting if honeypot is filled
    console.log("Spam detected!");
  }
});
</script>
  </body>
</html>


