<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVDNTsMwDH4Xn0OVdGXaekO7wIVJIAES4pCubmvUJlXiDlDVd8ddNxASt9j+fjPCEUMk
	7+5c5SEfoRioLe+HrsAAOaR6t96CAtv3TwtOlqvUJDoxRsshHhrs7AMeaTkaBX1rufKh
	E+T+8QUmBR2yLS3bWb+zkTE8U8kN5Kk2ayFQjy05/HUQXpKJ+gK+RaobFu1rkyrwgdCx
	5cVO1Gcvyz9kSWDL9yFyJ7AI+ev4DwKdLVosIecwoLRAZnJ1nAM2Z7fNJpMDBzuP6G5c
	3SLkV1rBwbvT3vG5huw+lpfJ9FbB5z5QTbOTWSn4ukyZ/kO+1NLSgUoJSxWdPn0XfA/T
	2/QN
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.Photos</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-01-14T17:40:03Z</date>
</dict>
</plist>
